INTERNAL_SECRET=ml_secret_key

LOG_LEVEL=INFO

DEVICE=cpu

TOXIC_THRESHOLD=0.65

MAX_TEXT_LENGTH=300

TTS_SAMPLE_RATE=48000

TTS_SPEAKER=aidar

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_AUDIO=audio
S3_BUCKET_IMAGE=images

IMAGE_PROVIDER=kandinsky
IMAGE_DEFAULT_STYLE=DEFAULT
IMAGE_WIDTH=1024
IMAGE_HEIGHT=1024
IMAGE_NUM_IMAGES=1
IMAGE_TIMEOUT_SEC=120

KANDINSKY_API_URL=https://api-key.fusionbrain.ai
#KANDINSKY_API_KEY=
#KANDINSKY_SECRET_KEY=
#KANDINSKY_MODEL_ID=
